.wp-block-kanopi-current-date {
    background-color: #000;
    .current-date {
        font-size: 1.5rem;
        color: #fff;
        margin: 0;
        text-align: center;
        padding: 1rem 0;
        border-top: 1px solid #eee;
        margin-top: 2rem;

    }
}
