.wp-block-knopi-hero-block {
	min-height: 400px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;

	.container {
		display: flex;
		flex-direction: row;
		width: 100%;
	}
	
	.hero-image {
		width: 50%;
		&.hero-image--position-left {
			order: -1;
		}
		
	}
	.hero-content {
		text-align: center;
		padding: 2rem;
		background-color: rgba(255, 255, 255, 0.8);
		border-radius: 8px;
		width: 50%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 2rem;
		
		.hero-title {
			margin-top: 0;
			font-style: normal;
			font-weight: 500;
			font-size: 60px;
			line-height: 77px;
			text-align: left;
			margin-bottom: 0;
		}
		
		.hero-content-text {
			margin-top: 0;
			font-style: normal;
			font-weight: 400;
			font-size: 20px;
			text-align: left;
		}
		
		.hero-buttons {
			display: flex;
			gap: 1rem;
			justify-content: center;
			
			.button {
				display: inline-block;
				padding: 0.75rem 1.5rem;
				text-decoration: none;
				border-radius: 4px;
				font-weight: bold;
				transition: all 0.3s ease;
				
				&.primary {
					background-color: #000;
					color: white;
					border-radius: 14px;
					padding: 14px 35px;
					font-weight: 400;
					font-size: 20px;
					border: 1px solid #000;
					
					&:hover {
						background-color: transparent;
						color: #000;
						border: 1px solid #000;
						transition: background 0.3s ease;
					}
				}
				
				&.secondary {
					background-color: #f0f0f0;
					color: #333;
					
					&:hover {
						background-color: #ddd;
					}
				}
			}
		}
	}
}
