.wp-block-knopi-working-process {
	padding: 2rem 0;
	
	.working-process-header {
		display: flex;
		align-items: center;
		margin-bottom: 3rem;
		@media (min-width: 1440px) {
			margin-bottom: 4.5rem;
		}
		
		.working-process-title {
			margin: 0;
			padding: 0.5rem 1rem;
			background-color: #B9FF66;
			border-radius: 8px;
			display: inline-block;
			font-size: 2rem;
			margin-right: 1.5rem;
		}
		
		.working-process-description {
			margin: 0;
			flex: 1;
			max-width: 600px;
		}
	}
	
	.working-process-steps {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
		max-width: 900px;
		margin: 0 auto;
		
		.working-process-step {
			border-radius: 20px;
			overflow: hidden;
			background-color: #f2f2f2;
			transition: all 0.3s ease;
			border: 2px solid #000;
			-webkit-box-shadow: 0px 5px 0px 0px #191A23; 
			box-shadow: 0px 5px 0px 0px #191A23;
			.step-toggle {
					.toggle-icon {
						&::before {
							content: '+';
						}
					}
			}
			&.active {
				background-color: #B9FF66;
				padding-bottom: 15px;
				.step-toggle {
					.toggle-icon {
						&::before {
							content: '−';
						}
					}
				}
			}
			
			.step-header {
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 1.5rem 2rem;
				cursor: pointer;
				
				.step-title-container {
					display: flex;
					align-items: center;
					gap: 1rem;
					
					.step-number {
						font-size: 2.5rem;
						font-weight: 700;
						color: #000;
					}
					
					.step-title {
						margin: 0;
						font-size: 1.5rem;
						font-weight: 500;
					}
				}
				
				.step-toggle {
					width: 40px;
					height: 40px;
					border-radius: 100%;
					background-color: white;					
					display: flex;
					align-items: center;
					justify-content: center;
					cursor: pointer;
					font-size: 1.5rem;
					font-weight: bold;
					color: #000;
					box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
					border: 1px solid rgba(0, 0, 0, 0.1);
					padding:0;
					
					&:hover {
						background-color: #f8f8f8;
					}
					
					&:focus {
						outline: none;
						box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
					}
				}
			}
			
			.step-content {
				padding: 0 2rem 0 2rem;
				max-height: 0;
				overflow: hidden;
				transition: max-height 0.3s ease, padding 0.3s ease;
				
				.step-divider {
					height: 1px;
					background-color: rgba(0, 0, 0, 0.1);
					margin-bottom: 1.5rem;
				}
				
				.step-description {
					margin: 0;
					line-height: 1.6;
				}
			}
			
			&.active .step-content {
				padding: 0 2rem 2rem 2rem;
				max-height: 500px; // Adjust this value based on your content
			}
		}
	}
	
	@media (max-width: 768px) {
		.working-process-steps {
			.working-process-step {
				.step-header {
					padding: 1rem 1.5rem;
					
					.step-title-container {
						gap: 0.5rem;
						
						.step-number {
							font-size: 1.8rem;
						}
						
						.step-title {
							font-size: 1.2rem;
						}
					}
				}
				
				.step-content {
					padding: 0 1.5rem 1.5rem 1.5rem;
				}
			}
		}
	}
}
