.wp-block-knopi-our-team {
	padding: 2rem 0;
	
	.our-team-header {
		display: flex;
		align-items: center;
		margin-bottom: 3rem;
		flex-direction: column;
		gap: 1rem;
		align-items: flex-start;
		@media (min-width: 768px) {
			flex-direction: row;
		}
		@media (min-width: 1440px) {
			margin-bottom: 4.5rem;
		}
		.our-team-title {
			margin: 0;
			padding: 0.5rem 1rem;
			background-color: #B9FF66;
			border-radius: 8px;
			display: inline-block;
			font-size: 2rem;
			margin-right: 1.5rem;
		}
		
		.our-team-description {
			margin: 0;
			flex: 1;
			max-width: 600px;
		}
	}
	
	.our-team-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		gap: 2rem;
		
		.team-member {
			position: relative;
			text-align: left;
			border-radius: 24px;
			overflow: hidden;
			padding: 2rem;
			background-color: #fff;
			border: 1px solid #191A23;
			-webkit-box-shadow: 0px 5px 0px 0px #191A23; 
			box-shadow: 0px 5px 0px 0px #191A23;
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			
			.team-member-top {
				position: relative;
				margin-bottom: 1.5rem;
				border-bottom: 1px solid #191A23;
			}
			.linkedin-icon {
				align-self: flex-end;				
				width: 48px;
				height: 48px;
				background-color: #000;
				border-radius: 50%;
				display: flex;
				align-items: center;
				justify-content: center;
				color: #fff;
				z-index: 3;
				
				
			}
			
			.team-member-image {
				float: left;
				margin-right: 2rem;
				margin-bottom: 1.5rem;
				width: 124px;
				height: 124px;
				position: relative;
				
				img {
					width: 124px;
					height: 124px;
					object-fit: cover;
					border-radius: 0;
					position: relative;
					z-index: 2;				
				}
				
				
			}
			
			.team-member-content {
				position: relative;
				overflow: hidden;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				
				.team-member-name {
					margin-top: 0;
					margin-bottom: 0.25rem;
					font-size: 2rem;
					font-weight: 500;
					font-size: 20px;
				}
				
				.team-member-title {
					margin-top: 0;
					margin-bottom: 1rem;
					color: #000;
					font-weight: normal;
				
					font-weight: 400;
					font-size: 18px;
				}
				
			
				
				.team-member-description {
					margin-top: 0;
					margin-bottom: 0;
					line-height: 1.5;
					font-size: 1.125rem;
					clear: both;
				}
			}
		}
	}
	
	// Add container styles for the frontend
	.container {
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
		padding: 0 1rem;
	}
}
