.wp-block-knopi-logos {
	padding: 2rem 0;
	
	.logos-title {
		text-align: center;
		margin-bottom: 2rem;
	}
	
	.logos-grid {
		
		@media screen and (min-width: 1024px) {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
			column-gap: 2rem;
			justify-items: center;
			align-items: center;
			gap: 3.7rem;
		}
		@media screen and (min-width: 1200px) {
			grid-template-columns: repeat(auto-fill, minmax(128px, 1fr));
		}
		
		.logo-item {
			text-align: center;
			
			img {
				max-width: 100%;
				height: auto;
				max-height: 100px;
				object-fit: contain;
			}
		}
	}
}
